.item {
  list-style: none;
  display: flex;
  align-items: center;
  
  padding: 6px 10px;
  background-color: gray;

  &.click-item {
    justify-content: space-between;
    cursor: pointer;
    background-color: red;
  }
}
